* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: blue;
    font-family: 'Rubik Mono One', sans-serif;

}

/* inizio header */
nav {
    list-style: none;
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 5;
}

nav ul li {
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    margin : 10px;
}
a:link {
    text-decoration: none;
    transition: 0.5s;
}
a {
    display: inline-block;
    padding : 10.5px 15px ;
}
/* fine header */

/* inizio main  */
.section_class {
    position: relative;
    height: 100vh;
    z-index: 1;

}

h2 {
    font-size: 300%;
    text-transform: capitalize;
}

.foto_e_didascalia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: dashed 5px white; */
    text-align: center;

}
#section_1{
    background-color: red;
    color: yellow;
}
#section_2{
    background-color: green;
    color: yellow;

}
#section_3{
    background-color: yellow;
    color: green;

}
